@font-face {
  font-family: "TTLakes";
  font-display: swap;
  src: local(""), url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-medium";
  font-display: swap;
  src: local(""), url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-bold";
  font-display: swap;
  src: local(""), url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
