@mixin edge-padding($vertical, $horizontal) {
  padding: $vertical $horizontal * $mobile-multiplier;

  @media (min-width: $screen-tablet) {
    padding: $vertical $horizontal * $tablet-multiplier;
  }

  @media (min-width: $screen-laptop) {
    padding: $vertical $horizontal * $desktop-multiplier;
  }
}
