@import 'normalize.scss', 'fonts', '../../node_modules/swiper/swiper',
  '../../node_modules/swiper/modules/pagination.scss', 'mixins';

$roseColor: #ff3e79;
$aquamarineColor: #41f6d7;
$aquamarineMediumColor: #b8ffec;
$aquamarineLiteColor: #d9fff5;
$blackTextColor: #1b1c21;
$grayTextColor: #7e7e82;
$liteGrayColor: #eaeaea;
$GrayColor: #B5B6BC;
$whiteColir: white;
$blureColir: rgba(255, 255, 255, 0.75);

// $paginationColor: #DDDDDD;
// $activePaginationColor: #B5B6BC;

$screen-mobile: 320px;
// $screen-mobile-wide: 360px;
$screen-tablet: 768px;
$screen-laptop: 1366px;
$screen-desktop: 1440px;
$screen-size: $screen-laptop;

// $edge-padding: 1rem;

$mobile-multiplier: 1;
$tablet-multiplier: 1.5;
$desktop-multiplier: 2;
// $aside-width: 340px;


@import '/modules/body.scss', '/modules/blure.scss', '/modules/func-btn', '/modules/more-btn',
  '/modules/apply-btn', '/modules/head/header', '/modules/aside/aside-nav',
  '/modules/aside/aside-menu', '/modules/aside/contact-info',
  '/modules/aside/lang-group', '/modules/main/main', '/modules/main/main-header',
  '/modules/main/main-nav', '/modules/main/about-us', '/modules/main/brand-list',
  '/modules/main/brand-item',
  '/modules/main/swiper-pagination/swiper-pagination-bullet',
  '/modules/main/swiper-pagination/swiper-pagination-bullet-active',
  '/modules/main/device-type-list', '/modules/main/device-type-item',
  '/modules/main/price-list', '/modules/main/price-item',
  '/modules/main/main-footer', '/modules/connectWithUs.scss';



// @media (min-width: $screen-tablet) {
// }

// @media (min-width: $screen-laptop) {
// }

// @media (min-width: $screen-desktop) {
// }

// @include edge-padding(0, 1rem);


