
@import 'normalize.scss',
        'fonts';

$roseColor: #FF3E79;
$aquamarineColor: #41F6D7;
$aquamarineLiteColor: #B8FFEC;
$blackTextColor: #1B1C21;
$grayTextColor: #7E7E82;

// $paginationColor: #DDDDDD;
// $activePaginationColor: #B5B6BC;

$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1366px;

$edge-padding: 1rem;


// header

.header {
  max-width: $screen-mobile;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;
  padding: 18px $edge-padding;

  &__btn {


  }

  &__logo {


  }

  &__items-group {

    display: flex;
    align-items: center;
    justify-content: space-between;


    &:first-child {
      width: 153px;
    }

    &:nth-child(2) {
      display: none;
    }

    &:last-child {
      width: 97px;
    }

  }

}


// func-btn

.func-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;

  &--circle{
    border-radius: 50%;
    border: none;
  }

  &--pink {
    background-color: $roseColor;
  }


  &--burger-menu {
    background-image: url('../img/icons/burger-menu.svg');
  }

  &--phone {
    background-image: url('../img/icons/handset.svg');
  }

  &--message {
    background-image: url('../img/icons/message.svg');
    background-position-y: 11px;
  }

  &--login {
    background-image: url('../img/icons/login.svg');
  }

  &--request {
    background-image: url('../img/icons/request.svg');
  }

  &--repair-status {
    background-image: url('../img/icons/repair-status.svg');
  }


}



////////////////////////////////////////////////////////////////////////////////////

// $bgColor: #24292e;
// $text: #fff;


// body {
//   padding: 1rem;

//   background-color: $bgColor;
//   color: $text;
// }



// @media (min-width: $screen-md) {
//   display: none;
// }

// @media (min-width: $screen-lg) {
//   display: block;
// }
