.about-us {
  display: flex;
  flex-direction: column;
  // padding: 24px 0;
  @include edge-padding(24px, 1rem, $mobile-multiplier);

  border-bottom: 1px solid $aquamarineLiteColor;


  @media (min-width: $screen-tablet) {
    flex-direction: row;
    padding-bottom: 2rem;
    justify-content: space-between;
  }

  @media (min-width: $screen-laptop) {
  }



  &__title {
    &--hidden {
      display: none;
    }
  }

  &__more-btn {
    margin: 16px 0;
  }

  &__figure {
    margin: 0 -1rem;

    // @media (min-width: $screen-tablet) {
    //   width: 50%;
    //   margin: 0;
    // }

    // @media (min-width: $screen-laptop) {
    // }
  }

}
