.brand-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 240px;
  height: 72px;
  border: 1px solid $liteGrayColor;
  border-radius: 6px;

  padding: 16px;

  @media (min-width: $screen-tablet) {
    flex-basis: 224px;
    flex-grow: 1;
  }

  // @media (min-width: 1000px) {
  //   flex-basis: 240px;

  // }

  @media (min-width: $screen-laptop) {
  }

  &__logo {
    max-width: 52%;

    @media (min-width: $screen-tablet) {
      max-width: 60%;
    }

    @media (min-width: $screen-desktop) {
    }
  }
}
