.brand-list {
  box-sizing: border-box;
  // min-width: $screen-size;
  @include edge-padding(0, 1rem);

  border-bottom: 1px solid $aquamarineLiteColor;

  @media (min-width: $screen-tablet) {
    // min-width: $screen-tablet;
  }

  @media (min-width: $screen-desktop) {
  }

  &__title {
    margin: 0;

    font-size: 16px;
    // line-height: 160%;
    // letter-spacing: -0.015em;
    line-height: 150%;
    letter-spacing: -0.01em;

    text-transform: uppercase;
    color: $grayTextColor;
    padding: 16px 0;

    background-image: linear-gradient(
      to left bottom,
      white 50%,
      rgba(200, 200, 200, 0.25)
    );
  }

  &__slider {
    position: relative;
    overflow: hidden;
    padding: 16px 0;

    background-image: linear-gradient(
      to right top,
      white 50%,
      rgba(200, 200, 200, 0.25)
    );

    @media (min-width: $screen-tablet) {
      padding: 28px 0;
    }

    @media (min-width: $screen-laptop) {
      padding-top: 24px;
      padding-bottom: 46px;

    }
  }

  &__body {
    max-height: 72px;

    padding-bottom: 12px;

    transition: max-height 500ms ease-out;

    // transition: height 2s ease-out;

    @media (min-width: $screen-tablet) {
      max-height: 152px;
      column-gap: 24px;
      row-gap: 16px;
      flex-wrap: wrap;
      overflow: hidden;
      // padding: 24px 0;

      transform: none !important;
    }

    @media (min-width: $screen-laptop) {
      column-gap: 32px;
      // padding: 24px 0;
    }

    &--extended {
      max-height: 250px;


    }
  }

  &__more-btn {
    display: none;
    position: relative;

    @media (min-width: $screen-tablet) {
      display: block;
      margin-top: 20px;
      margin-bottom: 6px;
    }

    @media (min-width: $screen-desktop) {
    }

    &::before {
      transition: transform 300ms ease-out;
    }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   height: 24px;
    //   width: 24px;
    //   background-image: url('/img/double-arrows.svg');
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   // left: 0px;
    //   // top: 8px;
    // }

    &--open {
      width: 94px;
      &::before {
        // transition: transform 300ms ease-out;
        transform: rotate(180deg);
      }
    }
  }

  &__pagination {
    // transform: translateY(45%);
    text-align: center;
    // justify-content: center;
  }
}
