.main-header {
  max-width: 100%;

  @media (min-width: $screen-laptop) {

  }

  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;

  @media (min-width: $screen-laptop) {
    padding: 30px 32px 0 32px;


  }

  }

  &__title {
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    // padding: 24px 0;
    @include edge-padding(24px, 1rem);

    font-family: 'TTLakes-bold', sans-serif;
    font-size: 1.75rem;
    line-height: 143%;
    letter-spacing: -0.02em;

    @media (min-width: $screen-tablet) {
    }

    @media (min-width: $screen-laptop) {
      padding: 0;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 40px;
      width: 4px;
      transform: translate(-16px, 0px);
      background-color: $aquamarineColor;
      border-radius: 0 12px 12px 0;

      @media (min-width: $screen-tablet) {
        transform: translate(-24px, 0px);
      }

      @media (min-width: $screen-laptop) {
        transform: translate(-34px, 0px);
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      width: 172px;
    }

    &:last-child {
      width: 168px;
    }

    &-group {
      display: none;
      width: 373px;
      justify-content: space-between;
      align-items: flex-end;

      @media (min-width: $screen-laptop) {
        display: flex;
      }
    }
  }
}
