.main-nav {
  display: flex;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  @include edge-padding(0, 1rem, $mobile-multiplier);

  // padding: 1.5rem var(--edge-padding);
  // max-width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    color: $grayTextColor;
    line-height: 240%;
    letter-spacing: -0.01em;
    white-space: nowrap;
    padding: 0 16px;
    margin-right: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;

    &:first-child {
      border: 2px solid #B8FFEC;
    }

  }

}
