.main {
  max-width: $screen-size;

  padding-bottom: 1000px;

  // max-width: 100%;

  box-sizing: border-box;
  // @include edge-padding(0, 1rem);

  @media (min-width: $screen-tablet) {
    // @include edge-padding(0, 1rem);
  }

  @media (min-width: $screen-laptop) {

    // max-width: 1040px;
    max-width: calc(100% - 320px);
  }

  @media (min-width: $screen-desktop) {

    // max-width: 1120px;
  }

}
