.price-list {

  box-sizing: border-box;
  border-bottom: 1px solid $aquamarineLiteColor;
  padding-bottom: 46px;

  @media (min-width: $screen-tablet) {
    padding-bottom: 40px;
  }

  @media (min-width: $screen-desktop) {
    padding-bottom: 44px;
  }

  &__title {

    @include edge-padding(16px, 16px);
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $grayTextColor;


    background-image: linear-gradient(
      to left bottom,
      white 50%,
      rgba(200, 200, 200, 0.25)
    );
  }

  &__slider {

    @include edge-padding(0, 10px);
    display: block;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(
      to right top,
      white 50%,
      rgba(200, 200, 200, 0.25)
    );

    @media (min-width: $screen-tablet) {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include edge-padding(0, 16px);

    }
  }

  &__thead {
    display: none;
    padding-top: 16px;
    flex-direction: column;

    font-family: 'TTLakes-medium', sans-serif;
    font-size: 14px;
    line-height: 114%;
    color: $grayTextColor;
    opacity: 0.72;

    @media (min-width: $screen-tablet) {
      display: flex;
    }
  }

  &__tbody {
    display: flex;
    column-gap: 16px;
    padding: 16px 0;

    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: $blackTextColor;

    @media (min-width: $screen-tablet) {
      padding-top: 0;
      flex-direction: column;
    }
  }

  &__pagination {
    text-align: center;
  }

  &__note {

    @include edge-padding(8px, 16px);

    @media (min-width: $screen-tablet) {
      width: 420px;
      padding-top: 6px;
    }

    @media (min-width: $screen-desktop) {
      padding-top: 14px;
    }

    &-desc {

      margin: 0;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.015em;
      padding-bottom: 16px;

      @media (min-width: $screen-tablet) {
        padding-bottom: 9px;
      }
    }

    &-offer-btn {
      font-family: 'TTLakes-medium', sans-serif;
      line-height: 80%;
      letter-spacing: -0.01em;
      text-align: start;
      border: none;
      background-color: transparent;
      padding: 0;

      &-arrow {
        display: inline-block;
        position: relative;

        &::after {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-image: url('../img/icons/rose_arrow_to_right.svg');
          background-position: center;
          background-repeat: no-repeat;
          transform: translate(-4px, 8px);
        }
      }
    }
  }
}
