
.aside-nav {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 320px;

  height: 100vh;
  // height: 676px;
  // height: 1024px;

  @include edge-padding(0, 1rem, $mobile-multiplier);


  @media (min-width: $screen-mobile-wide) {
    @include edge-padding(0, 1rem, $tablet-multiplier);
    max-width: 360px;
  }

  @media (min-width: $screen-tablet) {
    max-width: 320px;
    box-shadow: 20px 0px 80px gray;
  }

  @media (min-width: $screen-laptop) {
    @include edge-padding(0, 1rem, $desktop-multiplier);
    display: flex;
    box-shadow: none;
    height: 936px;
    position: sticky;
  }



  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;

    @media (min-width: $screen-mobile-wide) {
      padding: 16px 0;
     }

    @media (min-width: $screen-tablet) {
      margin-bottom: 25px;
    }

    @media (min-width: $screen-desktop) {
      margin-bottom: 11px;
    }


    &-close-btn{

      @media (min-width: $screen-laptop) {
        display: none;
      }
    }

    &-logo{

      @media (min-width: $screen-mobile-wide) {
        width: 103px;
        height: 55px;
       }

       @media (min-width: $screen-tablet) {
        width: auto;
        height: auto;
      }

    }


    &-group {
      display: flex;
      width: 154px;
      align-items: center;
      justify-content: space-between;

      @media (min-width: $screen-mobile-wide) {
        width: 160px;
       }

      @media (min-width: $screen-tablet) {
        width: 154px;
      }
    }

  }

  &__footer {
    margin-top: auto;
    padding-bottom: 28px;
  }

}
