.apply-btn {
  font-family: 'TTLakes-bold', sans-serif;
  font-size: 12px;

  position: relative;
  box-sizing: border-box;
  border: none;


  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;

  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../img/icons/white_arrow_to_right.svg');
    background-position: center;
    background-repeat: no-repeat;
  }


  &--pink-ellips {
    background-color: $roseColor;
    color: $whiteColir;
    border-radius: 16px;
  }


  &:hover {
    cursor: pointer;
  }
}



