.body {
  font-family: "TTLakes", sans-serif;
  font-size: 16px;
  color: $blackTextColor;
  // max-width: $screen-desktop;

  // border: 1px solid red;


  @media (min-width: $screen-laptop) {
    display: flex;
    max-width: $screen-laptop;
  }

  @media (min-width: $screen-desktop) {
    max-width: $screen-desktop;
  }


  &--center {

    @media (min-width: $screen-desktop) {
      margin: 0 auto;
    }
  }
}

