.details-btn {
  width: 40px;
  height: 40px;
  background-image: url('../img/arrow_to_right.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-color: $roseColor;


}
