.order-btn {
  width: 119px;
  height: 32px;
  background-color: $roseColor;
  padding: 8px 12px;
  position: relative;
  box-sizing: border-box;

  font-family: "TTLakes-bold", sans-serif;
  font-size: 12px;

  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: left;
  vertical-align: middle;
  color: $whiteColir;
  border-radius: 16px;


  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../img/icons/white_arrow_to_right.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(6px, -3px);
  }


  &:hover {
    cursor: pointer;
  }


}

